
@{
    ViewData["Title"] = "No Registrations Yet";
}

<h1>Be the<strong> first </strong>to register</h1>
<p>Nobody registered yet. You'll be the <strong> first </strong>one to register.</p>
<a asp-action="Register" class="btn btn-primary">Click here to register</a>

