@model GuestResponse

@{
    ViewData["Title"] = "RegisterComplete";
}

<h1>RegisterComplete</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title text-info">Register Complete</h5>
        <h6 class="card-subtitle mb-2 text-muted text-success">Thank you for registering</h6>
        <a asp-action="Index" class="card-link text-info">OK</a>
    </div>
</div>

